* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

button {
    border: none;
}

h2 {
    color: var(--Colour-Main-Blue-900, #091133);

    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 36 */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 133.333% */
}

.hero_left_content p {

    padding: 10px;
    color: var(--Colour-Main-Blue-400, #6F7CB2);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Regular 16 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    max-width: 70%;
}

#main_section {
    height: 1000px;
    background-image: url(./assets/img/designer_1.png);
    background-position: right;
    background-repeat: no-repeat;

}

nav {
    padding-top: 5%;
    margin: 0% 5% 5% 5%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

#hero_top {
    float: left;
    max-width: 90%;
    margin-top: 20%;
    margin-left: 10%;
}

#hero_img {
    display: none;
}

a {
    text-decoration: none;
}

#navleft {
    float: left;
    padding: 10px;

}

#nav_center {

    font-size: 25px;

    text-align: center;

}

#navright {

    float: right;
    font-size: 18px;
    color: aliceblue;
}

#navright button {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    background-color: black;
    color: aliceblue;
    border: none;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 15% 10% 15% 10%;
}

.hero_left_content {
    max-width: 50%;
}

.hero_left_content h2 {
    color: black;
}



.hero_left_content button {
    color: var(--colour-secondary-white-100-general, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;


    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    background-color: black;

    border-radius: 5%;
    padding: 10px;
    border: none;
}


.hero_right_content img {
    justify-content: center;
    width: 100%;
    height: auto;
}

button {
    color: white;

    background-color: black;

    padding-left: 5%;
    padding-right: 5%;
    /* Medium 14 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
}

#price {

    text-align: center;
    background-image: url(./assets/img/Rectangle.png);
    padding: 15%;
    justify-content: center;
}

#price p {
    color: var(--Colour-Main-Blue-400, #6F7CB2);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Regular 16 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}
.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;

}
.footer_container {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    align-items: center;
}
.footer_container p{
    color: var(--Colour-Main-Grey-400, #939EA4);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Medium 14 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.footer_container h2{
    color: var(--Colour-Logo-Primary, #37447E);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Bold 26 */
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px; /* 146.154% */
}
.footer_container button{
    color: var(--colour-secondary-white-100-general, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Medium 12 */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

#footer p{
    color: var(--Colour-Main-Grey-400, #939EA4);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Medium 14 */
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
   }


/* Add this CSS to your existing styles */
#mobile-menu-icon {
    display: none;
    /* Hide the mobile menu icon by default */
    cursor: pointer;
}

#mobile-menu {
    display: none;
    /* Hide the mobile menu by default */
    list-style-type: none;
    text-align: center;

    padding: 10px;
}

#mobile-menu li {
    padding: 10px;
}

#mobile_content {
    display: none;
}

/* media query for mobile */
@media only screen and (max-width: 480px) {
    /* Styles for small screens (e.g., smartphones) */

    #hero2 {
        flex-direction: column-reverse;
    }

    #navbar {
        display: none;
        /* Hide the original navbar at 450px and below */
    }

    #mobile-menu-icon {
        display: block;
        /* Display the mobile menu icon at 450px and below */
    }

    #mobile-menu {
        display: none;
        /* Hide the mobile menu initially */
    }

    #mobile_content {
        display: block;
    }

    #herosection2 {
        display: none;
    }

    #main_section {

        background-image: none;
        height: 0px;
    }

    #hero_top {
        float: left;

        margin-top: 0%;
    }

    #hero {
        display: flex;
        flex-direction: column;
        /* Change to column for mobile devices */
        align-items: center;
        /* Center content */
        padding: 5%;
        margin: none;
    }

    .hero_left_content {
        max-width: none;
        text-align: center;
    }

    .hero_left_content p {
        max-width: none;
        font-weight: none;
    }

    #hero_top {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #hero_img {
        display: flex;
    }

    .footer_container {
        display: flex;
        justify-content: space-around;
        padding: 5%;
        align-items: center;
    }
    .footer_container p{
        color: var(--Colour-Main-Grey-400, #939EA4);
        font-feature-settings: 'clig' off, 'liga' off;
        
        /* Medium 14 */
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
    }
    .footer_container h2{
        color: var(--Colour-Logo-Primary, #37447E);
        font-feature-settings: 'clig' off, 'liga' off;
        
        /* Bold 26 */
        font-family: Roboto;
        font-size: small;
    }
    .footer_container button{
        color: var(--colour-secondary-white-100-general, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        
        /* Medium 12 */
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 150% */
    }
   #footer p{
    color: var(--Colour-Main-Grey-400, #939EA4);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Medium 14 */
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
   }

}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */
}

@media only screen and (min-width: 1024px) {
    /* Styles for desktops */
}